<div class="panel panel-info stats-panel">
    <div class="panel-heading" data-toggle="collapse" data-target="#statsDataPanel" aria-expanded="true" aria-controls="statsDataPanel">
        <h3 class="panel-title" data-bind="text: title"></h3>
    </div>
    <div id="statsDataPanel" class="panel-body stats-container collapse">
        <div>
            <div>Top Speed: <span data-bind="text: topSpeedInMph"></span></div>
            <div>Average Speed: <span data-bind="text: averageSpeedInMph"></span></div>
            <div>Start: <span data-bind="text: startDateTime"></span></div>
            <div>End: <span data-bind="text: endDateTime"></span></div>
            <div>Duration: <span data-bind="text: duration"></span></div>
        </div>
    </div>
</div>
